.Label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Input {
  max-width: 200px;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #d8d8d8;
}

.Input:focus {
  box-shadow: 1px 2px 2px #095fcc;
}
