.Form {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 30px;
}

.Label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Input {
  max-width: 200px;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #d8d8d8;
}

.Input:focus {
  box-shadow: 1px 2px 2px #095fcc;
}

.Button {
  max-width: 100px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.Button:hover,
.Button:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #55ac57;
  border: 1px solid transparent;
  color: #ffffff;
}
