.List {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 3px;
}

.Item {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.Contact {
  font-size: 16px;
  margin-right: 5px;
  margin: 0 5px 0 0;
}

.Button {
  margin-left: auto;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.Button:hover,
.Button:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ed4e55;
  border: 1px solid transparent;
  color: #ffffff;
}
